<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>

 <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
 <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
 <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<title>Delete</title>
</head>
<body>
<div th:fragment="usersList_contents">
  <div class="page-header">
  <div class="col-sm-5">
    <h1>削除確認</h1>
   </div>
    </div>
     </div>




   <p>項目「  <b th:text="${signupForm.Article}"></b>  」  を削除します。よろしいですか？</p>
   <form method="post" th:action="@{/delete}" th:object="${signupForm}">
   <button class="btn btn-danger btn-lg" type="submit" name ="delete" value= "削除" >削除</button>
   <input type="hidden" name="item_id" th:value="${signupForm.id}" th:field="*{id}">
   </form>
   <form method="post" th:action="@{/workList}">
   <button type="button" onclick="history.back()">戻る</button>
   </form>

</body>
</html>